* {
    border: 1px solid black;
}
body {
    margin: 0px;
    padding: 0px 0px;
}
img {
    background-color: brown;
}
#image-div {
    display: flex;
}
#image-caption  {
    width: 300p;
    margin: 0px auto;
    display: flex;
}
#title {
    width: 300p;
    margin: 0px auto;
    display: flex;
}
#header {
    display: flex;
    flex-direction: column;

}